version: "3.8"

services:
  mcp_ffmpeg_api:
    container_name: mcp_ffmpeg_api
    build: ./mcp_api
    restart: always
    ports:
      - "8800:8800"
    networks:
      - mcp_net
    volumes:
      - ./media:/media
      - ./mcp_api/temp:/app/temp

  cloudflared:
    image: cloudflare/cloudflared:latest
    container_name: cloudflared
    restart: always
    networks:
      - mcp_net
    command: >
      tunnel --no-autoupdate run --token xx

networks:
  mcp_net:
    driver: bridge
